/* Give your page a fun background color */

html, body {
    font-family: Courier;
    background-color: #021e36;
    margin: 0;
    padding: 0;
  }  

/* Make the header and footer a different color from the background */

/* Align the h1 containing your name in the center of the header*/

header {
    color: #D6DBDF;
    background-color:rgba(64, 63, 63, 0.54);  
    font-size: 25px;
    text-align: center;
    padding: 1px;
    border: #D6DBDF;
    border-radius: 5px;
}

/* Make your p tag a different color and italic */

p {
    font-style: italic;
    color: #D6DBDF;
}

.image {
    max-width: 700px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #D6DBDF;
    text-align: center;
}

#AboutMe {
    text-indent: 40px;
    color: white;
}

/* Put a border around your image */

#profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 10px solid;
    border-color:rgba(64, 63, 63, 0.54);
}

/* Change the font-family of your list */

ul {
    text-align: left;
    font-family: sans-serif;
    color: #c4def2;
    list-style-type: none;
    text-indent: 75px;
    margin-bottom: 30px;
    padding: 0px;
}

footer {
    background-color:rgba(64, 63, 63, 0.54); 
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    text-indent: 20px;
}